PORT=3000
APP_HOST_PORT=3001

JWT_SECRET=troque-este-segredo-em-producao
JWT_EXPIRES_IN=8h

POSTGRES_USER=piipefy
POSTGRES_PASSWORD=piipefy
POSTGRES_DB=piipefy
POSTGRES_PORT=5432

MINIO_ROOT_USER=piipefy
MINIO_ROOT_PASSWORD=piipefy123
MINIO_BUCKET=piipefy-anexos
MINIO_API_HOST_PORT=9000
MINIO_CONSOLE_HOST_PORT=9001
