PORT=3000
APP_HOST_PORT=3001

JWT_SECRET=troque-este-segredo-em-producao
JWT_EXPIRES_IN=8h

POSTGRES_USER=flowly
POSTGRES_PASSWORD=flowly
POSTGRES_DB=flowly
POSTGRES_PORT=5432

MINIO_ROOT_USER=flowly
MINIO_ROOT_PASSWORD=flowly123
MINIO_BUCKET=flowly-anexos
MINIO_API_HOST_PORT=9000
MINIO_CONSOLE_HOST_PORT=9001
